@import 'variables';
@import 'mixins';
@font-face {
	font-family: "Roboto"; 
    src: url(../fonts/RobotoRegular/RobotoRegular.ttf);
}

* {
	margin: 0;
	padding: 0;
}
a {
	color: $main-color;
	&:hover {
		color: $main-color-lighter;
	}
}
h3 {
	margin: 40px 0 20px 0;
}

body {
	background: $white;
	color: $black-text;
	font: 18px 300/24px "Roboto";
	min-width: 317px;
}
header {
	padding: 0;
	margin: 0;
}
p {
	color: $gray-text;
}
.red {
	color: $main-color;
}
.glyphicon-align-justify {
	font-size: 12px;
	font-weight: 100;
}
.logo {
	width: 105px;
	height: 55px;
	background-color: $main-color;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	text-align: center;
	padding: 20px 0 0 0;
	a {
		color: $white;
		font-size: 19px;
		span {
			color: $black-text;	
		} 
	}
}
.navbar-btn {
	span {
		color: $main-color;
		font-size: 25px;
	}
}
.navbar {
	min-height: 0;
	margin-bottom: 0;
}
//BIG IMAGE
#big-image {
	background: url(../img/Photo.png) no-repeat;
	background-position: top;
	background-size: cover;
	height: 260px;
	margin: 0;
	h1 {
		font-size: 1.25em;
		line-height: 35px;
		color: $black-text;
		font-weight: bold;
		margin: 30px 0 0 0;
		width: 180px;
		+ p {
			font-size: 15px;
			color: $black-text;
		}
	}
	.btn-danger {
		background-color: $main-color;
		border-color: $main-color;
	}
}
strong {
	font-weight: 700;
	color:$black-text;
}
//Portfolio
.macB {
	width: 330px;
}
.portfolio {
	font-size: 40px;
	text-align: center;
}

//OUR TEAM
.team {
	border-bottom: 1px solid $gray-text;
	padding-bottom: 60px;
	margin-top: 60px;
	h2 {
		text-align: center;
		+p {
			text-align: center;
			font-size: 16px;
		}
	}
	.joey,.matt,.mike {
		margin: 50px 0 0 0;
		img {
			max-width: 150px;
		}
	}
	a {
		i {
			margin: 30px 0 0 0;
		}
	}
}
//FOOTER
.footer {
	padding: 20px 15px 20px 15px;
	color: $gray-text;
	.row {
		div {
			div {
				i {
					font-size: 40px;
				}
			}
		}
	}
	i:hover {
		color: $main-color;
	}
	.copiwrite {
		margin: 20px 0 0 0;
		font-size: 14px;
	}
}

@import 'media';



